<main class="homepages-container">
  <section class="introduction">
    <h3>
      Welcome one-percenters!
    </h3>
    <p>
      Are you part of the wealthy-elite? Then you've come to right place.
    </p>
  </section>
  <section class="newly_added">
    <h1 class="newly_added__header">Just Added!</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% product = Product.all.sample(1).first %>
          <div class="carousel-item active">
            <%= link_to image_tag(product.photo_url, alt:product.name, class:"d-block w-50"),product_path(product.id) %>
            <div class="carousel-caption d-none d-md-block">
              <h2><strong><%=product.name%>!</strong></h2>
              <h4><strong><%=product.description %></strong></h4>
            </div>
        </div>
        <% Product.all.sample(Product.all.count).each do |product| %>
          <div class="carousel-item">
            <%= link_to image_tag(product.photo_url, alt:product.name, class:"d-block w-50"),product_path(product.id) %>
            <div class="carousel-caption d-none d-md-block">
              <h2><strong><%=product.name%>!</strong></h2>
              <h4><strong><%=product.description %></strong></h4>
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</main>