<main class="homepages-container">
  <section class="newly_added">
    <h2 class="newly_added__header">Just Added!</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% Product.newly_added.each_with_index do |product,index| %>
        <div class="carousel-item<%= index == 0 ? 'active' : '' %>">
          <%= link_to image_tag(product.photo_url.empty? ? "https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png" : product.photo_url, alt: product.name, class: "d-block w-50"), product_path(product.id) %>
          <div class="carousel-caption d-none d-md-block">
            <h5><strong><%= product.name %></strong></h5>
            <h5><small><%= product.description %></small></h5>
          </div>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Spotlight Item: </span>
      <% product = Product.spotlight%>
      <%= link_to product.name, product_path(product.id), class:"spotlight__link-to"%>
    </h2>
  </section>

  <section class="top_rated">
    <h2 class="top_rated_header">
      <span class="top_rated_header--prefix">Top Rated!</span>
    <% if Product.top_rated == nil%>
      <p> No Reviews Yet <p>
    <% else %>
      <%= link_to Product.top_rated.name, product_path(Product.top_rated.id), class:"top_rated__link-to"%>
    <% end %>
    </h2>
  </section>
  
</main>