<html>
    <main>
      <section>
        <h2>Merchant Summary: <%= @user.name %></h2>
        <p>Joined site <%= @user.created_at %></p>
      </section>

    <section>
      <h3>Products</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Date Added</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% products = Product.where(user_id: @user.id)%>
            <% products.each do |product| %>
            <tr>
              <td>
                <%= link_to product.name, product_path(product.id) %> 
              </td>
              <td>
                <%= product.price %>
              </td>
              <td>
                <%= product.quantity %>
              </td>
              <td>
                <%= product.category %>
                <%# not sure how joined tables work, will need to edit! %>
              </td>
              <td>
                <%= product.created_at%>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </section>
    </main>
  </body>
</html>