<main>
  <h1>REVIEW YOUR ORDER</h1>

  <section class="confsection">
    <ul class="conful">
      <li>PLACED: <%=format_date(@order.order_place)%></li>
      <li>STATUS: <%=@order.status.upcase%></li>
      <li>TOTAL: $<%=sprintf('%.2f', @order.total)%></li>
    </ul>
    
  </section>
  <section class="confsection">
    <table id="confirmation">
      <thead>
        <td></td>
        <td>PRODUCT</td>
        <td>QUANTITY</td>
        <td>PRICE</td>
      </thead>
    <% @items.each do |item| %>
      <tbody>
          <%if item.product.photo_url%>
          <td><%= image_tag(item.product.photo_url, :alt => item.product.name, class:"card-img-top") %></td>
          <%else%>
          <td><%= image_tag('https://picsum.photos/id/739/200/300', :alt => item.product.name, class:"card-img-top") %></td>
          <%end%>
          <td><%= link_to Product.find(item.product_id).name, product_path(item.product_id) %></td>
          <td><%=item.qty%></td>
          <td>$<%=sprintf('%.2f',(item.qty * item.product.price))%>
      <%end%>
      </tbody>
    </table>
  </section>
</main>