<main class="products-main">
  <section class="products-title-container">
    <h1>All <%=@category.name.capitalize%> Products</h1>
  </section>
  
  <div class="d-flex justify-content-around">
    <% if @category.products.empty? %>
     <h3 class="product-info">Sometimes money can't buy you everything!</h3>
   <% else %>
      <section class="card-columns">
        <% @category.products.each do |product| %>
          <section class="card">
            <% if product.photo_url == nil || product.photo_url.length < 1  %>
              <%= image_tag("https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png", :alt => "not found", class:"card-img-top") %>
            <% else %>
              <%= image_tag(product.photo_url, :alt => product.name, class:"card-img-top") %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">
                <%=link_to product.name, product_path( product.id ) %>
              </h5>
            </div>
            <div class="card-body">
              <h6 class="card-text">
                Cost: $<%= sprintf('%.2f', product.price) %>
              </h6>
              <h6 class="card-text">
                Quantity:
                <%= product.qty %>
              </h6>
            </div>
          </section>
        <% end %>
      </section>
    <% end %>
  </div>
</main>