<main>
  <h1><%= @category.name.capitalize %></h1>

  <% if @category.products.empty? %>
    <h3 class="product-info">Sometimes money can't buy you everything!</h3>
  <% else %>
    <ul>
      <% @category.products.each do |product| %>
      <li> 
        <section>
          <%= image_tag("image_not_found.png", id: "not-found", alt: "image not available") %>
          <p class="product-info"> <%= product.price %> </p>
          <p class="product-info"> <%= product.qty %> </p>
          <p class="product-info"> <%= product.description %> </p>
          <p class="product-info"> Categories: 
            <% product.categories.each do |category| %> 
              <%= category.name %>
            <% end %>
          </p>
        </section>
      </li>
    <% end %>
    </ul>
  <%end%>
</main>