<main>
  <h2>All Products</h2>
  <section class="product-list">
    <%= Product.top5 %>
    <%= Product.spotlight %>
    <% @products.each do |product| %>
      <div>
        <%= image_tag("image_not_found.png", id: "not-found", alt: "image not available") %>
        <p class="product-info">
          <%=link_to product.name, product_path( product.id ) %>
          <%= product.price %>
          <%= product.qty %>
          <%= product.description %>
          <%= product.avg_rating%>
        </p>
      </div>
    <% end %>
  </section>
</main>