<main>
  <h2>All Products</h2>
  <section class="product-list">
    <% @products.each do |product| %>
    <div class="product-card">
        <%= image_tag("image_not_found.png", id: "not-found", alt: "image not available") %>
        <section class="product-info">
          <%=link_to product.name, product_path( product.id ) %>
          <%= product.price %>
          <%= product.qty %>
          <%= product.description %>
        </section>
      </div>
    <% end %>
    <%=link_to "New Product", new_product_path, class:"nav-link" %>

  </section>
</main>