<main>
  <h2>All Products</h2>
  <section class="product-list">
    <% @products.each do |product| %>
      <div>
          <% if product.photo_url == nil %>
            <%= image_tag("image_not_found.png", id: "not-found", alt: "image not available") %>
          <% else %>
            <img src=" <%= product.photo_url %>", class="prod-show-photo">
          <% end %>
        <p class="product-info">
          <%=link_to product.name, product_path( product.id ) %>
          <%= product.price %>
          <%= product.qty %>
          <%= product.description %>
        </section>
      </div>
    <% end %>
    <%=link_to "New Product", new_product_path, class:"nav-link" %>

  </section>
</main>