<main>
  <h2><%= @product.name %></h2>

  <section>
      <div>
        <%= image_tag("image_not_found.png", id: "not-found", alt: "image not available") %>
        <p class="product-info">
          <%= @product.price %>
          <%= @product.qty %>
          <%= @product.description %>
        </p>
      </div>
  </section>

</main>