<main>
  <h2><%= @product.name %></h2>

  <section>
      <div>
        <p class="product-info"> <%= link_to "Edit", edit_product_path(@product.id) %> </p>
          <% if @product.photo_url == nil || @product.photo_url.length < 1 %>
            <%= image_tag("https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png", :alt => "not found", class:"card-img-top") %>
          <% else %>
            <%= image_tag(@product.photo_url, :alt => @product.name, class:"card-img-top") %>
          <% end %>        
        <p class="product-info"> <%= @product.price %> </p>
        <p class="product-info"> <%= @product.qty %> </p>
        <p class="product-info"> <%= @product.description %> </p>
        <p class="product-info"> Categories: 
          <% @product.categories.each do |category| %> 
          <%= category.name %>
          <% end %>
        </p>
      </div>

      <% if @product.user_id != session[:user_id] %>
        <%= render :template => 'reviews/new' %>
      <% end %>

      <%= render :template => 'order_items/new' %>
      <div>
        <% @product.reviews.each do |review| %>
          <p>
            <h3> Reviews </h3>
            <p><%= review.rating %> </p>
            <p> <%= review.review_text %> </p>
          </p>
        <% end %>
      </div>
  </section>

</main>





