<main>
  <h2><%= @product.name %></h2>

  <section>
      <div>
        <%= image_tag("image_not_found.png", id: "not-found", alt: "image not available") %>
        <p class="product-info"> <%= @product.price %> </p>
        <p class="product-info"> <%= @product.qty %> </p>
        <p class="product-info"> <%= @product.description %> </p>
        <p class="product-info"> Categories: 
          <% @product.categories.each do |category| %> 
          <%= category.name %>
          <% end %>
        </p>
      </div>

      <%= render :template => 'reviews/new' %>

      <%= render :template => 'order_items/new' %>
  </section>

</main>