
<%= form_with(model: @review, url: product_reviews_path(@product.id)) do |f| %>

  <div>
  <%= f.label :rating %>
  <%= f.select :rating, [1,2,3,4,5] %>
  </div>
  <div>
  <%= f.label :review_text %>
  <%= f.text_area :review_text %>
  </div>
  <div>
  <%= f.submit "Submit Review", class: "btn btn-primary" %>
  </div>
<% end %>